@model List<MovieC>
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="display:flex; align-items:center; justify-content:center;">
    <div class="col-lg-10 col-md-6 col-sm-6 col-xs-12" style="margin-top:75px; margin-left:190px">
        <div class="sparkline8-list">
            <div class="sparkline8-hd">
                <div class="main-sparkline8-hd text-white">
                    <h1 style="color:white; display:flex; align-items:center; justify-content:center; font-size:50px;">Movies</h1>
                    <div style="float:right">
                        <a asp-action="Create" class="btn btn-custon-four btn-primary">Creat Movie</a>
                    </div>
                </div>
            </div>
            <div class="sparkline8-graph">
                <div class="static-table-list">
                    <table class="table ">
                        <thead>
                            <tr style="color:white; font-size:19px;">
                                <th>Image</th>
                                <th>Video</th>
                                <th>Trailer</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>MovieTime</th>
                                <th>Description</th>
                                <th>Year</th>
                                <th>Country</th>
                                <th>Trands</th>
                                <th>Director</th>
                                <th>Genre</th>
                                <th>Language</th>
                                <th>Popular</th>
                                <th>New</th>
                                <th style="display:flex; text-align:end; justify-content:end;">Update || Delete </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="color:white;">
                                    <td class="img-fluid">
                                        <img src="~/@item.Img" style="width:80px; height:50px; border-radius: 30%;">
                                    </td>
                                    <td class="img-fluid">
                                        <img src="~/@item.MovieVideo" style="width:80px; height:50px; border-radius: 30%;">
                                    </td>
                                    <td class="img-fluid">
                                        <img src="~/@item.Trailer" style="width:80px; height:50px; border-radius: 30%;">
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Age</td>
                                    <td>@item.MovieTime</td>
                                    <td>@item.Description</td>
                                    <td>@item.Year</td>
                                    <td>@item.CountryCategoryId</td>
                                    <td>@item.TrendId</td>
                                    <td>@item.Director</td>
                                    <td>@item.GenresCategoryId</td>
                                    <td>@item.LanguageCategoryId</td>
                                    <td>@item.Top</td>
                                    <td>@item.isneww</td>

                                    <td style="display:flex; text-align:end; justify-content:end;">
                                        <a class="btn btn-custon-four btn-warning" asp-action="Edit" asp-route-id="@item.Id" style="margin-right:8px;">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            Update
                                        </a>
                                        <a class="btn btn-custon-four btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-trash-can"></i>
                                            Delete
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>