
@model List<UserViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="row mt-3 mx-3">

    <div id="tableProgress" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">

                    <div class="col-6">
                        <h2 class="text-primary">
                            Istifadəçi siyahısı
                        </h2>
                    </div>
                    <div class="col-6 text-right">
                        <a asp-controller="UserManagment" asp-action="UserCreate" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i>&nbsp; Yeni istifadəçi yarad
                        </a>
                    </div>

                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>#</th>
                                <th>UserName</th>
                                <th>Gender</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>Update| Delete | Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="img-fluid">
                                         <img style="width:40px; height: 50px" src="~/@item.Img" />
                                        </td>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.Gender</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Country</td>
                                        <td class="text-center" role="group">
                                            <a asp-controller="UserManagment" asp-action="UserDelete" asp-route-id="@item.Id" class="btn btn-danger" aria-current="page">  <i class="bi bi-trash-fill"></i>Delete</a>
                                            <a asp-controller="UserManagment" asp-action="UserUpdate" asp-route-id="@item.Id" class="btn btn-primary" aria-current="page"> <i class="bi bi-pencil-square"></i>Update</a>
                                            <a asp-controller="UserManagment" asp-action="RoleAssign" asp-route-id="@item.Id" class="btn btn-secondary" aria-current="page"> <i class="bi bi-person-gear"></i>CreateRole</a>

                                            
                                        </td>
                                        <td>
                                            <a class="btn btn-info" onclick="showModal('@item.Id')" id="nav-btn"><i class="bi bi-info-circle"></i>RoleAssign</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>

<partial name="UserRole" />

<script>
    function showModal(userId) {

        $.ajax({
            url: "/UserManagment/UserRole/",
            data: { id: userId },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (data) {

                $('#modal-body').html(data);
                $('#exampleModal').modal('show');
            }
        });
    }
</script>