@model List<MovieC> 
@{
    ViewData["Title"] = "Index";
}
@section addcss{

    <link href="~/css/movies.css" rel="stylesheet" />
    <style>
        .card-container {
            margin-bottom: 100px !important;
        }

        .moviePageDropdown ul li a {
            color: black;
            background: white;
        }

        .dropdown ul li a {
            color: black;
            background: white;
        }

        .moviePageDropdown {
            display: inline-flex;
            background: red;
            color: black;
        }

        .dropdown-menu {
            margin-top: 10px;
        }

        .card .details {
            bottom: -80px;
        }

            .card .details h2 {
                color: red;
                max-width: 250px;
                font-size:23px;
            }
    </style>
}



<div class="container">
    <div class="Filtir">
        <div class="dropdown moviePageDropdown">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                Genres
            </button>
            <ul class="dropdown-menu dropdown-menu-movie">
                <li><a class="dropdown-item genres" data-genres="1" href="#">Animation</a></li>
                <li><a class="dropdown-item genres" data-genres="2" href="#">Documented</a></li>
                <li><a class="dropdown-item genres" data-genres="3" href="#">Confidentiality</a></li>
                <li><a class="dropdown-item genres" data-genres="4" href="#">Rolls</a></li>
                <li><a class="dropdown-item genres" data-genres="5" href="#">Dram</a></li>
            </ul>
        </div>

        <div class="dropdown moviePageDropdown moviePageDropdown">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                Categories
            </button>
            <ul id="categories" class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Azerbaijani movie</a></li>
                <li><a class="dropdown-item" href="#">Foreign movie</a></li>
                <li><a class="dropdown-item" href="#">Rus movie</a></li>
                <li><a class="dropdown-item" href="#">Türk movie</a></li>
            </ul>
        </div>

        <div class="dropdown moviePageDropdown">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                Dubbing
            </button>
            <ul id="lang" class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Azerbaijan</a></li>
                <li><a class="dropdown-item" href="#">Russia</a></li>
                <li><a class="dropdown-item" href="#">Turkey</a></li>
                <li><a class="dropdown-item" href="#">Other</a></li>
            </ul>
        </div>
        <a id="search" href="#">Search</a>
    </div> transition: all 2s ease-in !important;
    <div class="card-container ">
        @foreach (var item in Model)
        {
            <div class="card mt-3 mb-5">
                <div class="poster">
                    <img src="~/@item.Img" alt="#">
                </div>
                <div class="details" sty>
                    <a asp-area="" asp-controller="Movies" asp-action="Index" asp-route-id="@item.Id"><i class="bi bi-play-circle"></i></a>
                    <h2>@item.Name</h2>
                    <div class="rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <span>4/5</span>
                    </div>
                    <div class="tags">
                        <span>@item.Year</span>
                        <span>@item.GenresCategory.Name</span>
                    </div>
                    <div class="info">
                       Director: @item.Director
                    </div>
                </div>
            </div>
        }
  
    </div>
</div>


@section Scripts{
    <script>
        let genres ="";
        var categories = "";
        var lang = "";
        $('.genres').click(function(e){
            e.preventDefault();
            genres = $(this).data("genres");
        })

        $('#categories > li').click(function (e) {
            e.preventDefault();
            categories = $(this).text();
        })

        $('#lang > li').click(function (e) {
            e.preventDefault();
            lang = $(this).text();
        })

        $("#search").click(function(e){
            e.preventDefault();


          
              window.location.href = `${window.location.href}?genres = ${genres}`
        })
    </script>
}